In [1]:
import pandas as pd

In [2]:
data1 = pd.read_csv('results.csv')
data2 = pd.read_csv('shootouts.csv')

In [3]:
data1

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
44055,2022-09-27,Norway,Serbia,0.0,2.0,UEFA Nations League,Oslo,Norway,False
44056,2022-09-27,Sweden,Slovenia,1.0,1.0,UEFA Nations League,Stockholm,Sweden,False
44057,2022-09-27,Kosovo,Cyprus,5.0,1.0,UEFA Nations League,Pristina,Kosovo,False
44058,2022-09-27,Greece,Northern Ireland,3.0,1.0,UEFA Nations League,Athens,Greece,False
44059,2022-09-30,Fiji,Solomon Islands,NaN,NaN,MSG Prime Minister's Cup,Luganville,Vanuatu,True

In [4]:
data2

           date    home_team         away_team       winner
0    1967-08-22        India            Taiwan       Taiwan
1    1971-11-14  South Korea  Vietnam Republic  South Korea
2    1972-05-17     Thailand       South Korea  South Korea
3    1972-05-19     Thailand          Cambodia     Thailand
4    1973-04-21      Senegal             Ghana        Ghana
..          ...          ...               ...          ...
500  2022-03-29      Senegal             Egypt      Senegal
501  2022-06-13    Australia              Peru    Australia
502  2022-06-14        Chile             Ghana        Ghana
503  2022-09-22     Thailand          Malaysia     Malaysia
504  2022-09-25     Malaysia        Tajikistan   Tajikistan

[505 rows x 4 columns]

In [5]:
dataFifa1 = data1.set_index('date')
dataFifa1

,home_team,away_team,home_score,away_score,tournament,city,country,neutral
date,,,,,,,,
1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...
2022-09-27,Norway,Serbia,0.0,2.0,UEFA Nations League,Oslo,Norway,False
2022-09-27,Sweden,Slovenia,1.0,1.0,UEFA Nations League,Stockholm,Sweden,False
2022-09-27,Kosovo,Cyprus,5.0,1.0,UEFA Nations League,Pristina,Kosovo,False
2022-09-27,Greece,Northern Ireland,3.0,1.0,UEFA Nations League,Athens,Greece,False
2022-09-30,Fiji,Solomon Islands,NaN,NaN,MSG Prime Minister's Cup,Luganville,Vanuatu,True

In [6]:
teams  = set(dataFifa1['home_team'].unique()).union(set(dataFifa1['away_team'].unique()))